<html>
<h1>Customer</h1>
<p>
<%= @customer.name %>
</p>

<h1>Messages</h1>
<ul>
<% @customer.conversations.each do |conversation| %>
  <li><%= link_to conversation.subject, conversation %></li>
<% end %>
</ul>
</html>
